<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Edit <%= @project.name %></h1>
    <br>
    <br>
    <% if @project.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
      <% @project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    <form action="/projects/<%= @project.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <%= render('form') %>
      <button class="btn btn-default">Update Project</button>
    </form>
  </div>
</div>
